* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
}

ul,
li {
	list-style-type: none;
}

button {
	font: inherit;
	background-color: transparent;
	border: none;
	appearance: none;
}

:root {
	--color-main: #ffcb01;
	--color-secondary: #ff3e00;
	--border-radius: 0.5rem;
	--border-thickness: 1px;
}

input {
	padding: 1rem;
	border: var(--border-thickness) solid lightgrey;
	background-color: inherit;
	border-radius: var(--border-radius);
	font: inherit;
}

.btn {
	background-color: var(--color-main);
	padding: 1rem 2rem;
	color: white;
	border-radius: var(--border-radius);
	font-weight: bold;
	text-transform: uppercase;
}

.header {
	background-color: darksalmon;
	border-radius: 0 0 5px 5px;
	display: grid;
	width: 100%;
	justify-content: space-between;
	padding: 1.5rem 2rem;
	margin-bottom: 3rem;
}

.header .pageTitle {
	place-self: center left;
}

.lastNumber {
	padding-bottom: 2rem;
	text-align: center;
	background-color: teal;
	color: white;
	border-radius: 4rem;
	padding: 1.25rem 0.5rem;
	width: 5rem;
	height: 5rem;
	font-size: 3rem;
	place-self: center center;
}

.pageTitle {
	color: white;
	text-align: center;
}

.cards {
	display: grid;
	gap: 2rem;
}

.cards li {
	display: flex;
	justify-content: center;
}

.card {
	background-color: teal;
	border-radius: 1em;
	padding: 1em;
	border-collapse: separate;
	border-spacing: 0.5rem;
}

.number {
	border-radius: 2em;
	width: 2.5em;
	height: 2.5em;
	color: grey;
	background-color: white;
	padding: 1.1rem 1rem 0.9rem;
	font-size: 1.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.extracted {
	background-color: grey;
	color: white;
}
